<!DOCTYPE html>
<html>
    <head>
        <title>well....</title>
    </head>
    <body>
        <div><%= title %></div>
        <%= category[1].content%>
        <p style="font-variant:smallcaps"><%= logo %></p>

    </body>
</html>