<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login?</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/crypto-js/crypto-js.js"></script>
  </head>
  <body>
    <div class="loginwrap">
        <form action="/login/<%=kw%>/" onsubmit="return finalizeHash()" method="POST">
        <input type="hidden" name="request", value=<%=kw%> >
        <input type="hidden" name="hash", value="asdf">
        <input type="hidden" name="crosssite", value="qw143DFCW0977wepnhep">
        <input type="password" name="pass", value="" placeholder="password?" class="inputbox">
        <input type="submit" value="submit" class="submitbutton">
        </form>
    </div>
    <div class="explainwrap">
      <p class="explain">
      <span class="logo">Information alone is not enough; <br> we also need the meaning <br>of that information.</span><br>
      To find out more about HALT, see <a href="https://healthypsych.com/h-a-l-t-hungry-angry-lonely-and-tired-a-self-care-tool/">this link</a>.<br>
      By <a href="https://twitter.com/stet_stet_stet">@stet_stet_stet</a>.<br>
      </p>
    </div>
    <script>
    function finalizeHash(message){
        var stuffToStuff = document.getElementsByName("pass")[0].value;
        document.getElementsByName("pass")[0].value = "hahahahah";
        document.getElementsByName("hash")[0].value = CryptoJS.SHA3(stuffToStuff);
        return true;
    }
    </script>
  </body>
</html>
